body {
  background: linear-gradient(to bottom, #E0C7BD, #f0f0f0);
  
}

.items,
.items * {
  box-sizing: border-box;
}
.items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}
.text-input-field {
  display: flex;
  flex-direction: column;
  gap: 7px;
  align-items: flex-start;
  justify-content: flex-end;
  flex-shrink: 0;
  width: 327px;
  position: relative;
}
.label {
  color: var(--primary, #545f71);
  text-align: left;
  font: var(--body-small, 400 14px/19px "Inter", sans-serif);
  position: relative;
}
.text-input {
  background: var(--white, #ffffff);
  border-radius: 6px;
  border-style: solid;
  border-color: var(--primary, #545f71);
  border-width: 1px;
  padding: 12px;
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 48px;
  position: relative;
}
.text {
  color: var(--primary, #545f71);
  text-align: left;
  font: var(--body, 400 16px/22px "Inter", sans-serif);
  position: relative;
  flex: 1;
}
.text-input-field2 {
  margin: -14px 0 0 0;
  display: flex;
  flex-direction: column;
  gap: 7px;
  align-items: flex-start;
  justify-content: flex-end;
  flex-shrink: 0;
  width: 327px;
  position: relative;
}
.eye {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
}
.login,
.login * {
  box-sizing: border-box;
}
.login {
  background: var(--white, #ffffff);
  border-radius: 24px;
  width: 417px;
  height: 430px;
  position: relative;
  overflow: hidden;
}

.group-17 {
  width: 346px;
  height: 99px;
  position: static;
}
.button {
  background: #ecbd45;
  border-radius: 6px;
  padding: 12px 16px 12px 16px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 327px;
  height: 48px;
  left: -322px;
  top: 138px;
  overflow: hidden;
}
.button-label {
  color: var(--white, #ffffff);
  text-align: left;
  font: var(--body-heavy, 600 16px/22px "Inter", sans-serif);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.olvid-conse-a {
  color: #ecbd45;
  text-align: center;
  font: var(--link, 600 16px/22px "Inter", sans-serif);
  text-decoration: underline;
  position: absolute;
  left: -341px;
  top: 87px;
  width: 173px;
  height: 24px;
}
.iniciar-sesi-n,
.iniciar-sesi-n * {
  box-sizing: border-box;
}
.iniciar-sesi-n {
  color: var(--primary, #545f71);
  text-align: left;
  font: var(--h-2, 700 32px/36px "Inter", sans-serif);
  position: relative;
  width: 234px;
  height: 38px;
}
.por-favor-ingrese-usuario-y-contrase-a,
.por-favor-ingrese-usuario-y-contrase-a * {
  box-sizing: border-box;
}
.por-favor-ingrese-usuario-y-contrase-a {
  color: var(--primary, #545f71);
  text-align: center;
  font: var(--body, 400 16px/22px "Inter", sans-serif);
  position: relative;
  width: 327px;
}
